<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container flex">
        <!-- <div class="top"></div> -->
        <div class="last flex">
            <div class="last-top flex">
                <h1>Event Management System</h1>
            </div>
            <div class="last-last flex">
                <div class="info flex">
                    <div class="flex" id="forms">
                        <h1 >Login</h1>
                        <div class="btns flex">
                            <button onclick="window.location.href='./userlogin'">User</button>
                            <button onclick="window.location.href='./venderlogin'">Vender</button>
                            <button onclick="window.location.href='./adminlogin'">Admin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>