<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User SignUp</title>
    <link rel="stylesheet" href="/css/userSignup.css">
</head>
<body>
    <div class="container">
        <div class="top"></div>
        <div class="last flex">
            <div class="last-top flex">
                <h1>Event Management System</h1>
            </div>
            <div class="last-last flex">
                <div class="info flex">
                    <form id="forms" class="flex">
                        <h2>User SignUp</h2>
                        <div class="inputs flex">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" placeholder="User Name" required>
                        </div>
                        <div class="inputs flex">
                            <label for="gmail">Email</label>
                            <input type="email" name="gmail" id="gmail" placeholder="User Email" required>
                        </div>
                        <div class="inputs flex">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="User Password" required>
                        </div>
                        <div id="error-message" style="color: red; display: none; margin-top: 10px;"></div>
                        <div class="btns flex">
                            <button type="button" onclick="window.location.href='./home'">Cancel</button>
                            <button type="submit">SignUp</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/userSignup.js"></script>
</body>
</html>
