<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/adminLogin.css">
</head>
<body>
    <div class="container">
        <div class="top"></div>
        <div class="last flex">
            <div class="last-top flex">
                <h1>Event Management System</h1>
            </div>
            <div class="last-last flex">
                <div class="info flex">
                    <form id="forms" class="flex">
                        <h2>Vender Login</h2>
                        <div class="inputs flex">
                            <label for="userid">User Id Or Email </label>
                            <input type="email" name="userid" id="userid" placeholder="Vender Id">
                        </div>
                        <div class="inputs flex">
                            <label for="password">Password</label>
                            <input type="text" name="password" id="password" placeholder="Vender Password">
                        </div>
                        <div id="error-message" style="color: red; display: none; margin-top: 10px;"></div>
                        <div class="btns flex">
                            <button onclick="routeto('vendersignup')">SignUp</button>
                            <button onclick="routeto('home')">Cancel</button>
                            <button type="button">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/venderLogin.js"></script>
<script src="/js/func.js"></script>
</html>