*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* border:1px solid green; */
    height:100vh;
}

.last{
    /* border:1px solid green; */
    height:60vh;
    width:60%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.last-top{
    /* border:1px solid green; */
    height:15%;
    width: 98%;
    background-color: royalblue;
    border-radius: 8px;
}

.last-top h1{
    padding:10px 60px;
    color: white;
}

.last-last{
    /* border:1px solid green; */
    height:60%;
    width: 95%;
}
.info{
    /* border:1px solid green; */
    width:65%;
    height:80%;
    flex-direction: column;
}

#forms{
    height:100%;
    width: 100%;
    /* border:1px solid rgba(0, 0, 139, 0.188); */
    /* justify-content: space-evenly; */
    gap:80px;
    flex-direction: column;
}
#forms>h1{
    font-size: 2.5rem;
    /* color: rgba(0, 0, 139, 0.779); */
    color:royalblue;
}

.inputs {
    /* border:1px solid red; */
    height:6vh;
    width:70%;
    gap: 50px;
}

.inputs label{
    /* border: 1px solid red; */
    /* background-color: royalblue; */
    background-color: white;
    color: royalblue;
    border-radius: 6px;
    padding: 10px;
}

.inputs input{
    height:5vh;
    border:1px solid royalblue;
    color: royalblue;
    border-radius:6px;
    width:40%;
    outline: none;
    padding: 12px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.btns button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btns button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btns button:active {
    background-color: #004085;
    transform: translateY(0);
}