*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* border:1px solid green; */
    height:100vh;
}

.last{
    /* border:1px solid green; */
    height:70vh;
    width:55%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.last-top{
    /* border:1px solid green; */
    height:15%;
    width: 95%;
    background-color: royalblue;
    border-radius: 6px;
}
.last-top h1{
    /* border: 1px solid red; */
    padding:10px 60px;
    color: white;
}
.last-last{
    /* border:1px solid green; */
    height:80%;
    width: 100%;
}
.info{
    /* border:1px solid green; */
    width:85%;
    height:95%;
    flex-direction: column;
}

#forms{
    height:100%;
    width: 100%;
    gap:40px;
    flex-direction: column;
}
#forms h2{
    font-size: 2rem;
    color: #007BFF;
    font-weight: 700;
}

.inputs {
    /* border:1px solid red; */
    height:6vh;
    width:85%;
    gap: 75px;
}

.inputs label{
    background-color: #007BFF;
    color: white;
    border-radius: 6px;
    padding: 10px 16px;
}

.inputs input{
    height:5vh;
    border:1px solid royalblue;
    color: royalblue;
    border-radius:6px;
    width:40%;
    outline: none;
    padding: 12px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.btns button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btns button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btns button:active {
    background-color: #004085;
    transform: translateY(0);
}