<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/usersucess.css">
    <title>Order Success</title>
</head>
<body>
    <div class="container">
        <h1>Thank You</h1>
        <button class="amount-btn">Total Amount: 200/-</button>
        <div class="details">
            <div class="form-group">
                <span>Name</span>
                <span>Number</span>
            </div>
            <div class="form-group">
                <span>E-mail</span>
                <span>Payment Method</span>
            </div>
            <div class="form-group">
                <span>Address</span>
                <span>State</span>
            </div>
            <div class="form-group">
                <span>City</span>
                <span>Pin Code</span>
            </div>
        </div>
        <button class="continue-btn" onclick="window.location.href='/userhome'">Continue Shopping</button>
    </div>
</body>
</html>
